{{! template-lint-disable no-partial }}
{{partial this.formTemplate}}

<button {{action "save"}} class="o-btn">{{t "admin.action.save"}}</button>
<button {{action "deleteRecord"}} class="o-btn">{{t "admin.action.delete"}}</button>
