{{! template-lint-disable no-partial }}
{{#animated-value project as |project|}}
  {{project-detail/header
    project=project
  }}
{{/animated-value}}

<div class={{elem "content"}}>
  {{project-detail/summary project=project}}

  <div class={{elem "wrapper"}}>
    {{partial projectTemplate}}
  </div>
</div>
