<div
  class={{bem this.block}}
  {{did-insert this.initSwiper}}
  {{will-destroy this.destroySwiper}}
  ...attributes
>
  <div class={{bem this.block "wrapper"}}>
    {{#animated-each
      @projects
      initialInsertion=true
      finalRemoval=true
      use=this.listTransition
      duration=this.duration
      as |project index|
    }}
      <ProjectList::Preview
        @project={{project}}
        @index={{index}}
      />
    {{/animated-each}}
  </div>
</div>