<header class={{elem "header"}}>
  <h1 class={{elem "title"}}>{{t "projectList.title"}}</h1>
</header>

<section class={{elem "swiper"}}>
  {{#swiper-container
    options=swiperOptions
    currentSlide=swiper.position
  }}
    {{#each projects as |project|}}
      {{project-list/preview project=project data-preview-background=project.slug}}
    {{/each}}
  {{/swiper-container}}
</section>
