<div class={{elem "wrapper"}}>
  <ul class={{elem "navigation"}}>
    {{! template-lint-disable attribute-indentation}}
    <li class={{elem "item"}}>
      <a href="https://github.com/kennstenicht" rel="noopener" target="_blank">{{t "application.footer.social.github"}}</a>
    </li>
    <li class={{elem "item"}}>
      <a href="https://www.linkedin.com/in/christoph-wiedenmann" rel="noopener" target="_blank">{{t "application.footer.social.linkedin"}}</a>
    </li>
    <li class={{elem "item"}}>
      <a href="https://twitter.com/herrwiedenmann" rel="noopener" target="_blank">{{t "application.footer.social.twitter"}}</a>
    </li>
  </ul>

  <div class={{elem "copy"}}>
    {{t "application.footer.copy" year=currentYear htmlSafe=true}} — {{link-to (t "navigation.imprint") "pages.show" "imprint"}}
  </div>
</div>
