<div class="{{elem 'wrapper'}}">
  <ul class="{{elem 'navigation'}}">
    <li class="{{elem 'item'}}"><a href="https://github.com/kennstenicht" rel="external" target="_blank">GitHub</a> —</li>
    <li class="{{elem 'item'}}"><a href="https://www.linkedin.com/in/christoph-wiedenmann" rel="external" target="_blank">LinkedIn</a> —</li>
    <li class="{{elem 'item'}}"><a href="https://twitter.com/herrwiedenmann" rel="external" target="_blank">Twitter</a></li>
  </ul>

  <div class="{{elem 'copy'}}">&copy; {{currentYear}} by Christoph Wiedenmann — {{link-to 'Impressum' 'pages.show' 'imprint'}}</div>
</div>
