{{#link-to 'pages.home' class=(concat (elem 'logo') ' u-no-underline')}}Christoph Wiedenmann{{/link-to}}
<div class="{{elem 'navigation'}}">
  <ul class="o-list-inline">
    <li class="o-list-inline__item">{{link-to 'Projects' 'projects' class="u-no-underline"}}</li>
    <li class="o-list-inline__item"> — {{link-to 'About' 'pages.show' 'about' class="u-no-underline"}}</li>
    {{#if session.isAuthenticated}}
    <li class="o-list-inline__item"> | {{link-to 'Projects' 'admin.projects' class="u-no-underline"}}</li>
<li class="o-list-inline__item"> — {{link-to 'Pages' 'admin.pages' class="u-no-underline"}}</li>
      <li class="o-list-inline__item"> | {{session/sign-out signedOut=(route-action 'transitionTo' 'login')}}</li>
    {{/if}}
  </ul>
</div>
