<div
  ...attributes
>
  <div layout:scope>
    <div layout:class="item" layout:desktop="width-10-12">
      <h1>
        {{this.headline}}
      </h1>
    </div>
    <div layout:class="item" layout:desktop="width-2-12">
      <LinkTo @route="admin.projects.new">
        {{t "admin.action.new"}}
      </LinkTo>
    </div>
  </div>

  {{component (concat "admin-form/" this.modelName) record=@record}}

  <button
    type="button"
    button:scope
    {{on "click" (fn @save @record)}}
  >
    {{t "admin.action.save"}}
  </button>
  <button
    type="button"
    button:scope
    {{on "click" (fn @cancel this.modelName)}}
  >
    {{t "admin.action.cancel"}}
  </button>
  <button
    type="button"
    button:scope
    {{on "click" (fn @delete @record)}}
  >
    {{t "admin.action.delete"}}
  </button>
</div>
