<div
  ...attributes
>
  <div class="o-layout">
    <div class="o-layout__item u-10/12">
      <h1>
        {{this.headline}}
      </h1>
    </div>
    <div class="o-layout__item u-2/12 u-align-right">
      <LinkTo @route="admin.projects.new">
        {{t "admin.action.new"}}
      </LinkTo>
    </div>
  </div>

  {{component (concat "admin-form/" this.modelName) record=@record}}

  <button
    type="button"
    class="o-btn"
    {{on "click" (fn @save @record)}}
  >
    {{t "admin.action.save"}}
  </button>
  <button
    type="button"
    class="o-btn"
    {{on "click" (fn @cancel this.modelName)}}
  >
    {{t "admin.action.cancel"}}
  </button>
  <button
    type="button"
    class="o-btn"
    {{on "click" (fn @delete @record)}}
  >
    {{t "admin.action.delete"}}
  </button>
</div>
