<div class={{bem this.blockName modifiers=(hash
  type=@flash.type
  is-exiting=@flash.exiting
)}}
  {{on "mouseenter" this.preventExiting}}
  {{on "mouseleave" this.allowExiting}}
  ...attributes>
  {{#if hasBlock}}
    {{yield this @flash}}
  {{else}}
    {{@flash.message}}
    {{!-- {{#if @flash.showProgressBar}}
      <div class="alert-progress">
        <div class="alert-progressBar" style={{progressDuration}}></div>
      </div>
    {{/if}} --}}
  {{/if}}
</div>
