<header block:scope ...attributes>
  <LinkTo
    @route="pages.home"
    block:class="logo"
  >
    <Application::Header::Logo />
  </LinkTo>

  <div block:class="navigation">
    <ul block:class="list">
      <li block:class="item">
        <LinkTo @route="projects">
          {{t "navigation.projects"}}
        </LinkTo>
      </li>
      <li block:class="item">
        <LinkTo @route="pages.show" @model="about">
          {{t "navigation.about"}}
        </LinkTo>
      </li>
      {{#if this.session.isAuthenticated}}
        <li block:class="item">
          <LinkTo @route="admin.projects">
            {{t "navigation.projects"}}
          </LinkTo>
        </li>
        <li block:class="item">
          <LinkTo @route="admin.pages">
            {{t "navigation.pages"}}
          </LinkTo>
        </li>
        <li block:class="item">
          <button type="button" {{on "click" this.signOut}}>
            {{t "navigation.signOut"}}
          </button>
        </li>
      {{/if}}
    </ul>
  </div>
</header>
