<div class="{{elem 'wrapper'}}">
  <ul class="{{elem 'navigation'}}">
    <li class="{{elem 'item'}}"><a href="http://github.com/kennstenicht" rel="external">GitHub</a> —</li>
    <li class="{{elem 'item'}}"><a href="www.linkedin.com/in/christoph-wiedenmann" rel="external">LinkedIn</a> —</li>
    <li class="{{elem 'item'}}"><a href="https://twitter.com/herrwiedenmann" rel="external">Twitter</a></li>

  </ul>

  <div class="{{elem 'copy'}}">&copy; {{currentYear}} by Christoph Wiedenmann — {{link-to 'Impressum' 'imprint'}}</div>
</div>
