<header
  class={{bem this.block}}
  ...attributes
>
  <LinkTo
    @route="pages.home"
    class="{{bem this.block "logo"}} u-no-underline"
  >
    <Application::Header::Logo />
  </LinkTo>

  <div class={{bem this.block  "navigation"}}>
    <ul class="o-list-inline">
      <li class="o-list-inline__item">
        <LinkTo @route="projects" class="u-no-underline">
          {{t "navigation.projects"}}
        </LinkTo>
      </li>
      <li class="o-list-inline__item">
        <LinkTo @route="pages.show" @model="about" class="u-no-underline">
          {{t "navigation.about"}}
        </LinkTo>
      </li>
      {{#if this.session.isAuthenticated}}
        <li class="o-list-inline__item">
          <LinkTo @route="admin.projects" class="u-no-underline">
            {{t "navigation.projects"}}
          </LinkTo>
        </li>
        <li class="o-list-inline__item">
          <LinkTo @route="admin.pages" class="u-no-underline">
            {{t "navigation.pages"}}
          </LinkTo>
        </li>
        <li class="o-list-inline__item">
          <button {{action "signOut"}}>
            {{t "navigation.signOut"}}
          </button>
        </li>
      {{/if}}
    </ul>
  </div>
</header>
