<div class="o-layout">
  <div class="o-layout__item u-3/4">
    <div class="o-layout">
      <div class="o-layout__item u-1/2">
        <label>{{t "admin.page.field.title"}}</label>
        {{input value=@model.title}}
      </div>
      <div class="o-layout__item u-1/2">
        <label>{{t "admin.page.field.slug"}}</label>
        {{input value=@model.slug}}<br>
      </div>
    </div>
    <div class="o-layout">
      <div class="o-layout__item">
        <label>{{t "admin.page.field.content"}}</label>
        {{textarea value=@model.content rows="12"}}
      </div>
    </div>
  </div>
</div>

{{admin-form/custom-fields model=@model}}
