<div class="o-layout">
  <div class="o-layout__item u-3/4">
    <div class="o-layout">
      <div class="o-layout__item u-1/2">
        <label>{{t 'admin.project.field.title'}}</label>
        {{input value=model.title}}
      </div>
      <div class="o-layout__item u-1/2">
        <label>{{t 'admin.project.field.slug'}}</label>
        {{input value=model.slug}}<br>
      </div>
    </div>
    <div class="o-layout">
      <div class="o-layout__item">
        <label>{{t 'admin.project.field.subtitle'}}</label>
        {{input value=model.subtitle}}<br>
      </div>
    </div>

    <div class="o-layout">
      <div class="o-layout__item u-2/3">
        <label>{{t 'admin.project.field.excerpt'}}</label>
        {{textarea value=model.excerpt rows="6"}}
      </div>
      <div class="o-layout__item u-1/3">
        <label>{{t 'admin.project.field.meta'}}</label>
        {{textarea value=model.metaInfo rows="6"}}
      </div>
    </div>

    <div class="o-layout">
      <div class="o-layout__item u-1/1">
        <label>{{t 'admin.project.field.content'}}</label>
        {{textarea value=model.content rows="12"}}
      </div>
    </div>
  </div>
  <div class="o-layout__item u-1/4">
    <div class="o-layout">
      <div class="o-layout__item u-1/2">
        <label>{{t 'admin.project.field.visible'}}</label>
        {{input checked=model.visible type="checkbox"}}
      </div>
    </div>
  </div>
</div>

{{admin-form/custom-fields model=model}}
