<div class="o-layout">
  <div class="o-layout__item u-3/4">
    <div class="o-layout">
      <div class="o-layout__item u-1/2">
        <label>{{t "admin.page.field.title"}}</label>
        <Input @value={{@record.title}} />
      </div>
      <div class="o-layout__item u-1/2">
        <label>{{t "admin.page.field.slug"}}</label>
        <Input @value={{@record.slug}} />
      </div>
    </div>
    <div class="o-layout">
      <div class="o-layout__item">
        <label>{{t "admin.page.field.content"}}</label>
        <Textarea @value={{@record.content}} rows="12" />
      </div>
    </div>
  </div>
</div>

<AdminForm::CustomFields @record={{@record}} />
