<div block:scope ...attributes>
  <div layout:scope>
    <div layout:class="item" layout:desktop="width-10-12">
      <h1>{{this.headline}}</h1>
    </div>
    <div layout:class="item" layout:desktop="width-2-12">
      <LinkTo @route={{this.newRoute}}>
        {{t "admin.action.new"}}
      </LinkTo>
    </div>
  </div>

  {{#if @records}}
    <SortableGroup
      @tagName="div"
      @model={{this.sortedRecords}}
      @onChange={{this.reorderRecords}}
      as |group|
    >
      {{#each group.model as |record|}}
        <group.item @tagName="div" @model={{record}} as |item|>
          <div block:class="row">
            <item.handle>
              {{! template-lint-disable no-bare-strings }}
              <span block:class="handle">&varr;</span>
            </item.handle>
            <div block:class="column" block:main={{true}}>
              <LinkTo @route={{this.editRoute}} @model={{record}}>
                {{record.displayLabel}}
              </LinkTo>
            </div>
            <div block:class="column">
              {{boolean-label
                record.visible
                (t "admin.label.published")
                (t "admin.label.draft")
              }}
            </div>
          </div>
        </group.item>
      {{/each}}
    </SortableGroup>


    {{!-- <div
      block:class="table"
      {{sortable-group onChange=@reorderRecords}}
    >
      {{#each @records as |record|}}
        <div block:class="row" {{sortable-item model=record}}>
          <div block:class="column">
            {{! template-lint-disable no-bare-strings }}
            <span block:class="handle" {{sortable-handle}}>&varr;</span>
            <LinkTo @route={{this.editRoute}} @model={{record}}>
              {{record.displayLabel}}
            </LinkTo>
          </div>
          <div block:class="column">
            {{boolean-label
              record.visible
              (t "admin.label.published")
              (t "admin.label.draft")
            }}
          </div>
        </div>
      {{/each}}
    </div> --}}
  {{else}}
    {{t "list.noRecords"}}
  {{/if}}
</div>
