<div layout:scope>
  <div layout:class="item" layout:desktop="width-3-4">
    <div layout:scope>
      <div layout:class="item" layout:desktop="width-1-2">
        <label>{{t "forms.project.fields.title"}}</label>
        <Input @value={{@record.title}} />
      </div>
      <div layout:class="item" layout:desktop="width-1-2">
        <label>{{t "forms.project.fields.slug"}}</label>
        <Input @value={{@record.slug}} />
      </div>
    </div>
    <div layout:scope>
      <div layout:class="item">
        <label>{{t "forms.project.fields.subtitle"}}</label>
        <Input @value={{@record.subtitle}} />
      </div>
    </div>

    <div layout:scope>
      <div layout:class="item" layout:desktop="width-2-3">
        <label>{{t "forms.project.fields.excerpt"}}</label>
        <Mobiledoc::Editor @record={{@record.excerpt}} />
      </div>
      <div layout:class="item" layout:desktop="width-1-3">
        <label>{{t "forms.project.fields.facts"}}</label>
        <Mobiledoc::Editor @record={{@record.facts}} />
      </div>
    </div>

    <div layout:scope>
      <div layout:class="item">
        <label>{{t "forms.project.fields.content"}}</label>
        <Mobiledoc::Editor @record={{@record.content}} />
      </div>
    </div>
  </div>

  <div layout:class="item" layout:desktop="width-1-4">
    <div layout:scope>
      <div layout:class="item">
        <label>{{t "forms.project.fields.visible"}}</label>
        <Input @checked={{@record.visible}} type="checkbox" />
      </div>
    </div>
  </div>
</div>

<AdminForm::CustomFields @record={{@record}} />

<div layout:scope>
  <div layout:class="item" layout:desktop="width-3-4">
    <div layout:scope>
      <div layout:class="item">
        <label>{{t "forms.project.fields.metaTitle"}}</label>
        <Input
          @value={{@record.metaTitle}}
          placeholder={{@record.metaTitleFallback}}
        />
      </div>
    </div>

    <div layout:scope>
      <div layout:class="item">
        <label>{{t "forms.project.fields.metaDescription"}}</label>
        <Textarea
          @value={{@record.metaDescription}}
          placeholder={{@record.metaDescriptionFallback}}
          rows="4"
        />
      </div>
    </div>
  </div>
</div>
