<article
  class={{bem this.styles modifiers=(hash
    style=@project.id
  )}}
  ...attributes
>
  <LinkTo @route="projects.show" @model={{@project}}>
    <AnimatedValue
      @value={{@project.id}}
      @use={{this.backgroundTransition}}
      @duration={{this.duration}}
      as |id|
    >
      <div
        class={{bem this.styles "background" modifiers=(hash
          style=id
        )}}
        style="background-image: url('/assets/projects/{{id}}/{{id}}_preview.jpg')"
      ></div>
    </AnimatedValue>

    <header class={{bem this.styles "header"}}>
      <div class={{bem this.styles "index" data-swiper-parallax="50"}}>
        {{index-number @index}}
      </div>

      <AnimatedValue
        @value={{@project.title}}
        @use={{this.typoTransition}}
        @duration={{this.duration}}
        as |title|
      >
        <h1 class={{bem this.styles "title"}}>
          {{title}}
        </h1>
      </AnimatedValue>

      <AnimatedValue
        @value={{@project.subtitle}}
        @use={{this.typoTransition}}
        @duration={{this.duration}}
        as |subtitle|
      >
        <div class={{bem this.styles "subtitle" data-swiper-parallax="90"}}>
          {{subtitle}}
        </div>
      </AnimatedValue>
    </header>

    <div class={{bem this.styles "meta"}}>
      {{! template-lint-disable no-bare-strings }}
      Concept & Development
    </div>
  </LinkTo>
</article>
