<article block:scope block:style={{@project.id}} ...attributes>
  <LinkTo @route="projects.show" @model={{@project}}>
    <AnimatedValue
      @value={{@project.id}}
      @use={{this.backgroundTransition}}
      @duration={{this.duration}}
      as |id|
    >
      <div block:class="background" block:style={{id}}></div>
    </AnimatedValue>

    <header block:class="header">
      <div block:class="index" data-swiper-parallax="50">
        {{index-number @index}}
      </div>

      <AnimatedValue
        @value={{@project.title}}
        @use={{this.typoTransition}}
        @duration={{this.duration}}
        as |title|
      >
        <h1 block:class="title">
          {{title}}
        </h1>
      </AnimatedValue>

      <AnimatedValue
        @value={{@project.subtitle}}
        @use={{this.typoTransition}}
        @duration={{this.duration}}
        as |subtitle|
      >
        <div block:class="subtitle" data-swiper-parallax="90">
          {{subtitle}}
        </div>
      </AnimatedValue>
    </header>

    <div block:class="meta">
      {{! template-lint-disable no-bare-strings }}
      Concept & Development
    </div>
  </LinkTo>
</article>
