<div class="o-wrapper u-margin-top u-padding-top u-padding-bottom-huge">
  {{custom-field 'eels_section_1' project}}<br>
  {{custom-field 'eels_section_2' project}}<br>
  <div class="o-layout o-layout--large">
    <div class="o-layout__item u-1/2" style="letter-spacing: 0.03em;">
      <h2>Christoph Wiedenmann - Iosevka</h2>
      {{{project.content}}}
    </div>
    <div class="o-layout__item u-1/2" style="font-family: 'IBM Plex Mono'">
      <h2>Christoph Wiedenmann - IBM Plex Mono</h2>
      <div>
        {{{project.content}}}
      </div>
    </div>
  </div>
  <br><br><br>
  <div>{{{project.content}}}</div>
  <br>
  <div style="font-weight: 300">{{{project.content}}}</div>
  <br>
  <div style="font-weight: 600">{{{project.content}}}</div>
</div>
