<div
  class={{bem this.block}}
  ...attributes
>
  <div class={{bem this.block "excerpt"}}>
    <Mobiledoc::Renderer @mobiledoc={{@project.excerpt}} />
  </div>
  <div class={{bem this.block "meta-info"}}>
    <Mobiledoc::Renderer @mobiledoc={{@project.metaInfo}} />
  </div>
</div>
