<div
  class={{bem this.block}}
  ...attributes
>
  <div class={{bem this.block "excerpt"}}>
    {{@project.excerpt}}
  </div>
  <div class={{bem this.block "meta-info"}}>
    {{@project.metaInfo}}
  </div>
</div>