<div
  block:scope
  {{did-insert this.initSwiper}}
  {{will-destroy this.destroySwiper}}
  ...attributes
>
  <div block:class="wrapper">
    <AnimatedEach
      @items={{@projects}}
      @initialInsertion={{true}}
      @finalRemoval={{true}}
      @use={{this.listTransition}}
      @duration={{this.duration}}
      as |project index|
    >
      <ProjectList::Preview
        @project={{project}}
        @index={{index}}
        data-selector="swiper-item"
      />
    </AnimatedEach>
  </div>
</div>
{{!-- {{log (css-blocks ".test")}} --}}
