<article class={{bem this.block
  modifiers=(hash
    style=@project.slug
  )}}
  ...attributes
>
  <LinkTo @route="projects.show" @model={{@project}}>
    <AnimatedValue
      @value={{@project.slug}}
      @use={{this.backgroundTransition}}
      @duration={{this.duration}}
      as |slug|
    >
      <div class={{bem this.block "background"
        modifiers=(hash
          style=slug
        )}}
      ></div>
    </AnimatedValue>

    <header class={{bem this.block "header"}}>
      <div class={{bem this.block "index"}} data-swiper-parallax="50">
        {{index-number @index}}
      </div>

      <AnimatedValue
        @value={{@project.title}}
        @use={{this.typoTransition}}
        @duration={{this.duration}}
        as |title|
      >
        <h1 class={{bem this.block "title"}}>
          {{title}}
        </h1>
      </AnimatedValue>

      <AnimatedValue
        @value={{@project.subtitle}}
        @use={{this.typoTransition}}
        @duration={{this.duration}}
        as |subtitle|
      >
        <div class={{bem this.block "subtitle"}} data-swiper-parallax="90">
          {{subtitle}}
        </div>
      </AnimatedValue>
    </header>

    <div class={{bem this.block "meta"}}>
      {{! template-lint-disable no-bare-strings }}
      Concept & Development
    </div>
  </LinkTo>
</article>