<br><br><br><br><br><br>
{{#if session.isAuthenticated}}
  <p>Du bist bereits eingeloggt</p>
  {{session/sign-out}}
{{else}}
  E-Mail: <br>
  {{input type="text" value=email}}
  Password: <br>
  {{input type="password" value=password}}

  <button {{action "signIn" "password"}}>Sign in</button>
{{/if}}
