<div class="o-layout">
  <div class="o-layout__item u-10/12">
    <h1>{{t "admin.page.headline.index"}}</h1>
  </div>
  <div class="o-layout__item u-2/12 u-align-right">
    <LinkTo @route="admin.pages.new">
      {{t "admin.action.new"}}
    </LinkTo>
  </div>
</div>

<SortableGroup
  @tagName="div"
  @model={{this.records}}
  @onChange={{route-action "reorderItems"}}
  class="o-flex-table"
  as |group|
>
  {{#each group.model as |page|}}
    <group.item
      @tagName="div"
      @model={{page}}
      class="o-flex-table__row"
      as |item|
    >
      <div class="o-flex-table__column u-10/12">
        {{! template-lint-disable no-bare-strings }}
        <item.handle @tagName="span">
          &varr;
        </item.handle>
        <LinkTo @route="admin.pages.edit" @model={{page}}>
          {{page.title}}
        </LinkTo>
      </div>
      <div class="o-flex-table__column u-2/12 u-align-right">
        {{boolean-label
          project.visible
          (t "admin.label.published")
          (t "admin.label.draft")
        }}
      </div>
    </group.item>
  {{/each}}
</SortableGroup>
