<div class="meme-card-editor">
  {{! template-lint-disable require-valid-alt-text }}
  <img src={{this.payload.imgSrc}}>
  <Input @value={{this.imgSrc}} />
  <Input @value={{this.alt}} />
  <button
    type="button"
    {{on "click" (fn this.saveCard (hash
      imgSrc=this.imgSrc
      alt=this.alt
    ))}}
  >
    {{t "admin.action.save"}}
  </button>
  <button
    type="button"
    {{on "click" this.removeCard}}
  >
    {{t "admin.action.delete"}}
  </button>
</div>
