<AnimatedValue @value={{@project}} as |project|>
  <article
    class={{bem this.styles modifiers=(hash
      style=project.id
    )}}
    ...attributes
  >
    <ProjectDetail::Header @project={{project}} />
    <div class={{bem this.styles "content"}}>
      <ProjectDetail::Summary @project={{project}} />
      <div class={{bem this.styles "wrapper"}}>
        {{component (concat "project-detail/" project.id) project=project}}
        <div class={{bem this.styles "back"}}>
          <LinkTo @route="projects" class={{bem this.link}}>
            {{t "projectDetail.backToOverview" htmlSafe=true}}
          </LinkTo>
        </div>
      </div>
    </div>
  </article>
</AnimatedValue>
