<article
  class={{bem this.blockName modifiers=(hash
    style=@project.slug
  )}}
  ...attributes
>
  <AnimatedValue @value={{@project}} as |project|>
    <ProjectDetail::Header @project={{@project}} />
  </AnimatedValue>

  <div class={{bem this.blockName "content"}}>
    <ProjectDetail::Summary @project={{@project}} />
    <div class={{bem this.blockName "wrapper"}}>
      {{component (concat "project-detail/" @project.slug) project=@project}}
    </div>
  </div>
</article>
