<AnimatedValue @value={{@project}} as |project|>
  <article block:scope block:style={{project.slug}} ...attributes>
    <ProjectDetail::Header @project={{project}} />
    <div block:class="content">
      <ProjectDetail::Summary @project={{project}} />
      <div block:class="wrapper">
        {{component (concat "project-detail/" project.slug) project=project}}
        <div block:class="back">
          <LinkTo @route="projects" link:scope>
            {{t "projectDetail.backToOverview" htmlSafe=true}}
          </LinkTo>
        </div>
      </div>
    </div>
  </article>
</AnimatedValue>
