<footer
  class={{bem this.styles modifiers=(hash
    is-toggled=this.isToggled
  )}}
  {{did-insert this.setupInViewport}}
  ...attributes
>
  <div class={{bem this.styles "wrapper"}}>
    <ul class={{bem this.styles "social"}}>
      <li class={{bem this.styles "item"}}>
        <a
          href="https://github.com/kennstenicht"
          rel="noopener noreferrer"
          target="_blank"
          class={{bem this.link}}
        >
          {{t "application.footer.social.github"}}{{!--
    --}}</a>
      </li>
      <li class={{bem this.styles "item"}}>
        <a
          href="https://www.linkedin.com/in/christoph-wiedenmann"
          rel="noopener noreferrer"
          target="_blank"
          class={{bem this.link}}
        >
          {{t "application.footer.social.linkedin"}}{{!--
    --}}</a>
      </li>
      <li class={{bem this.styles "item"}}>
        <a
          href="https://twitter.com/herrwiedenmann"
          rel="noopener noreferrer"
          target="_blank"
          class={{bem this.link}}
        >
          {{t "application.footer.social.twitter"}}
        </a>
      </li>
    </ul>
    <div class={{bem this.styles "copy"}}>
      {{t "application.footer.copy" year=this.currentYear htmlSafe=true}} |
      <LinkTo
        @route="pages.show"
        @model="imprint"
        class="{{bem this.styles "item"}} {{bem this.link}}"
      >
        {{t "navigation.imprint"}}
      </LinkTo>
      <LinkTo
        @route="pages.show"
        @model="privacy"
        class="{{bem this.styles "item"}} {{bem this.link}}"
      >
        {{t "navigation.privacy"}}
      </LinkTo>
    </div>
  </div>
</footer>
