<footer
  block:scope
  block:is-toggled={{this.isToggled}}
  {{did-insert this.setupInViewport}}
  ...attributes
>
  <div block:class="wrapper">
    <ul block:class="social">
      <li block:class="item">
        <a
          href="https://github.com/kennstenicht"
          rel="noopener noreferrer"
          target="_blank"
          link:scope
        >
          {{t "application.footer.social.github"}}{{!--
    --}}</a>
      </li>
      <li block:class="item">
        <a
          href="https://www.linkedin.com/in/christoph-wiedenmann"
          rel="noopener noreferrer"
          target="_blank"
          link:scope
        >
          {{t "application.footer.social.linkedin"}}{{!--
    --}}</a>
      </li>
      <li block:class="item">
        <a
          href="https://twitter.com/herrwiedenmann"
          rel="noopener noreferrer"
          target="_blank"
          link:scope
        >
          {{t "application.footer.social.twitter"}}
        </a>
      </li>
    </ul>

    <div block:class="copy">
      {{t "application.footer.copy" year=this.currentYear htmlSafe=true}} -
      <LinkTo @route="pages.show" @model="imprint" link:scope>
        {{t "navigation.imprint"}}
      </LinkTo>
      <LinkTo @route="pages.show" @model="privacy" link:scope>
        {{t "navigation.privacy"}}
      </LinkTo>
    </div>
  </div>
</footer>
