<MobiledocEditor
  @mobiledoc={{@record}}
  @atoms={{this.atoms}}
  @cards={{this.cards}}
  @serializeVersion="0.3.1"
  @on-change={{fn (mut @record)}}
  @did-create-editor={{this.didCreateEditor}}
  block:scope
  as |editor|
>
  <div block:class="toolbar">
    <button
      type="button"
      block:class="button"
      block:is-active={{editor.activeSectionTagNames.isP}}
      {{on "click" (fn editor.toggleSection "p")}}
    >
      {{svg-jar "format_paragraph"}}
    </button>

    <button
      type="button"
      block:class="button"
      block:is-active={{editor.activeSectionTagNames.isH2}}
      {{on "click" (fn editor.toggleSection "h2")}}
    >
      {{svg-jar "format_h2"}}
    </button>

    <button
      type="button"
      block:class="button"
      block:is-active={{editor.activeSectionTagNames.isH3}}
      {{on "click" (fn editor.toggleSection "h3")}}
    >
      {{svg-jar "format_h3"}}
    </button>

    <div block:class="divider"></div>

    <button
      type="button"
      block:class="button"
      block:is-active={{editor.activeSectionTagNames.isUl}}
      {{on "click" (fn editor.toggleSection "ul")}}
    >
      {{svg-jar "format_list_bulleted"}}
    </button>

    <button
      type="button"
      block:class="button"
      block:is-active={{editor.activeSectionTagNames.isOl}}
      {{on "click" (fn editor.toggleSection "ol")}}
    >
      {{svg-jar "format_list_numbered"}}
    </button>

    <div block:class="divider"></div>

    <button
      type="button"
      block:class="button"
      block:is-active={{editor.activeMarkupTagNames.isStrong}}
      {{on "click" (fn editor.toggleMarkup "strong")}}
    >
      {{svg-jar "format_bold"}}
    </button>

    <button
      type="button"
      block:class="button"
      block:is-active={{editor.activeMarkupTagNames.isEm}}
      {{on "click" (fn editor.toggleMarkup "em")}}
    >
      {{svg-jar "format_italic"}}
    </button>

    <button
      type="button"
      block:class="button"
      block:is-active={{editor.activeMarkupTagNames.isU}}
      {{on "click" (fn editor.toggleMarkup "u")}}
    >
      {{svg-jar "format_underlined"}}
    </button>

    <div block:class="divider"></div>

    <button
      type="button"
      block:class="button"
      block:is-active={{editor.activeMarkupTagNames.isA}}
      {{on "click" editor.toggleLink}}
    >
      {{svg-jar "link"}}
    </button>

    <button
      block:class="button"
      type="button"
      {{on "click" (fn editor.addCardInEditMode "mobiledoc/cards/image")}}
    >
      {{svg-jar "image"}}
    </button>
  </div>
</MobiledocEditor>
