<div block:scope block:style={{@project.id}} ...attributes>
  <AnimatedValue
    @value={{@project.id}}
    @use={{this.backgroundTransition}}
    @duration={{this.duration}}
    as |id|
  >
    <div block:class="background" block:style={{id}}></div>
  </AnimatedValue>

  <header block:class="header">
    <AnimatedValue
      @value={{@project.title}}
      @use={{this.typoTransition}}
      @duration={{this.duration}}
      as |title|
    >
      <h1 block:class="title">
        {{title}}
      </h1>
    </AnimatedValue>

    <AnimatedValue
      @value={{@project.subtitle}}
      @use={{this.typoTransition}}
      @duration={{this.duration}}
      as |subtitle|
    >
      <div block:class="subtitle">
        {{subtitle}}
      </div>
    </AnimatedValue>
  </header>
</div>
