<div
  class={{bem this.styles}}
  role="button"
  {{did-insert this.setElement}}
  {{on "mouseenter" this.explode}}
  ...attributes
>
  {{#each this.defaultLetters as |letter|}}
    <span class={{bem this.styles "letter"}} data-selector="letter">
      {{letter}}
    </span>
  {{/each}}
</div>
