<div block:scope block:is-visible={{@showCookieNotice}} ...attributes>
  <div block:class="header">
    {{t "cookieNotice.headline"}}
  </div>
  <div block:class="content">
    <div block:class="message">
      {{t "cookieNotice.message" htmlSafe=true}}
    </div>
    <div block:class="settings">
      <div block:class="option">
        <Input
          @id="allow-required-cookies"
          @disabled={{true}}
          @name="allow-required-cookies"
          @type="checkbox"
          @checked={{true}}
        />
        <label for="allow-required-cookies">
          {{t "cookieNotice.options.required"}}
        </label>
      </div>
      <div block:class="option">
        <Input
          @id="allow-analyse-cookies"
          @name="allow-analyse-cookies"
          @type="checkbox"
          @checked={{this.allowAnalyseCookies}}
        />
        <label for="allow-analyse-cookies">
          {{t "cookieNotice.options.analyse"}}
        </label>
      </div>
      {{!-- <div block:class="option">
        <Input
          @id="allow-marketing-cookies"
          @name="allow-marketing-cookies"
          @type="checkbox"
          @checked={{this.allowMarketingCookies}}
        />
        <label for="allow-analyse-cookies">
          {{t "cookieNotice.options.marketing"}}
        </label>
      </div> --}}
      <a
        href="#"
        block:class="button"
        {{on "click" this.allowSelectedCookies}}
      >
        {{t "cookieNotice.allowSelectedCookies"}}
      </a>
      <button
        block:class="button"
        type="button"
        {{on "click" this.allowAllCookies}}
      >
        {{t "cookieNotice.allowAllCookies"}}
      </button>
    </div>
  </div>
</div>
