<div class="o-layout">
  <div class="o-layout__item u-1/1">
    {{#each @record.customFields as |customField|}}
      <div class="o-layout">
        <div class="o-layout__item u-3/4">
          <Textarea @value={{customField.value}} rows="6" />
        </div>
        <div class="o-layout__item u-1/4">
          <div class="o-layout">
            <div class="o-layout__item u-1/1">
              <Input @value={{customField.key}} />
            </div>
            <div class="o-layout__item u-1/1">
              <button
                type="button"
                class="o-btn o-btn--full"
                {{on "click" (fn this.removeCustomField customField)}}
              >
                {{t "admin.action.removeField"}}
              </button>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
    <button
      class="o-btn"
      type="button"
      {{on "click" this.addCustomField}}
    >
      {{t "admin.action.addField"}}
    </button>
  </div>
</div>
