<div layout:scope>
  <div layout:class="item">
    {{#each @record.customFields as |customField|}}
      <div layout:scope>
        <div layout:class="item" layout:desktop="width-3-4">
          <Textarea @value={{customField.value}} rows="6" />
        </div>
        <div layout:class="item" layout:desktop="width-1-4">
          <div layout:scope>
            <div layout:class="item">
              <Input @value={{customField.key}} />
            </div>
            <div layout:class="item">
              <button
                button:scope
                button:size="full"
                type="button"
                {{on "click" (fn this.removeCustomField customField)}}
              >
                {{t "admin.action.removeField"}}
              </button>
            </div>
          </div>
        </div>
      </div>
    {{/each}}

    <button
      button:scope
      type="button"
      {{on "click" this.addCustomField}}
    >
      {{t "admin.action.addField"}}
    </button>
  </div>
</div>
