<div
  ...attributes
>
  <h1>{{t "session.signIn.headline"}}</h1>
  <form {{on "submit" this.authenticate}}>
    <div class="o-layout">
      <div class="o-layout__item u-1/1 u-1/2@tablet">
        <label for="identification">{{t "session.signIn.identification.label"}}</label>
        <Input
          @value={{this.identification}}
          id="identification"
          placeholder={{t "session.signIn.identification.placeholder"}}
        />
      </div>
      <div class="o-layout__item u-1/1 u-1/2@tablet">
        <label for="password">{{t "session.signIn.password.label"}}</label>
        <Input
          @value={{this.password}}
          id="password"
          placeholder={{t "session.signIn.password.placeholder"}}
          type="password"
        />
      </div>
    </div>
    <div class="o-layout">
      <div class="o-layout__item u-1/1">
        <button type="submit" class="o-btn">{{t "session.signIn.submit"}}</button>
        {{#if this.errorMessage}}
          <p>{{this.errorMessage}}</p>
        {{/if}}
      </div>
    </div>
  </form>
</div>
