<div block:scope ...attributes>
  <h1>{{t "session.signIn.headline"}}</h1>
  <form {{on "submit" this.authenticate}}>
    <div layout:scope>
      <div layout:class="item" layout:desktop="width-1-2">
        <label for="identification">{{t "session.signIn.identification.label"}}</label>
        <Input
          @value={{this.identification}}
          id="identification"
          placeholder={{t "session.signIn.identification.placeholder"}}
        />
      </div>
      <div layout:class="item" layout:desktop="width-1-2">
        <label for="password">{{t "session.signIn.password.label"}}</label>
        <Input
          @value={{this.password}}
          id="password"
          placeholder={{t "session.signIn.password.placeholder"}}
          type="password"
        />
      </div>
    </div>
    <div layout:scope>
      <div layout:class="item">
        <button
          button:scope
          type="submit"
        >
          {{t "session.signIn.submit"}}
        </button>
        {{#if this.errorMessage}}
          <p>{{this.errorMessage}}</p>
        {{/if}}
      </div>
    </div>
  </form>
</div>
