<div block:scope block:style={{this.urlSegments}} ...attributes>
  <Application::Header />

  <div block:class="flash-messages">
    {{#each this.flashMessages.queue as |flash|}}
      <Application::Notification @flash={{flash}} />
    {{/each}}
  </div>

  <main block:class="content">
    {{yield}}
  </main>

  <Application::CookieNotice
    @showCookieNotice={{this.showCookieNotice}}
    @toggleCookieNotice={{this.toggleCookieNotice}}
  />
  <Application::Footer />

  <div block:class="frame"></div>
</div>
