<div
  class={{bem this.styles modifiers=(hash
    style=this.urlSegments
    navigation-is-open=this.isNavigationOpen
  )}}
  ...attributes
>
  <Application::Header
    @isNavigationOpen={{this.isNavigationOpen}}
    @toggleNavigation={{this.toggleNavigation}}
  />

  <main class={{bem this.styles "content"}}>
    {{yield}}
  </main>

  <Application::CookieNotice
    @showCookieNotice={{this.showCookieNotice}}
    @toggleCookieNotice={{this.toggleCookieNotice}}
  />
  <Application::Footer />

  <div class={{bem this.styles "frame"}}></div>
</div>
