<div
  class={{bem this.blockName modifiers=(hash
    style=this.urlSegments
  )}}
  ...attributes
>
  <Application::Header />

  <div class={{bem this.blockName "flash-messages"}}>
    {{#each this.flashMessages.queue as |flash|}}
      <Application::Notification @flash={{flash}} />
    {{/each}}
  </div>

  <main class="c-application__content">
    {{yield}}
  </main>

  <Application::CookieNotice
    @showCookieNotice={{this.showCookieNotice}}
    @toggleCookieNotice={{this.toggleCookieNotice}}
  />
  <Application::Footer />
</div>
