<header class={{elem "header"}} data-preview-header={{project.slug}}>
  <div class={{elem "index"}} data-swiper-parallax="90">{{index-number index}}</div>
  <h1 class={{elem "title"}} data-preview-title={{project.slug}} data-swiper-parallax="100">
    {{project.title}}
  </h1>
  <div class={{elem "subtitle"}} data-swiper-parallax="50">{{project.subtitle}}</div>
</header>
<div class={{elem "meta"}}>Concept & Development</div>
