<header class={{elem "header"}} data-preview-header={{project.slug}}>
  <h1 class="{{elem "title"}} u-h2" data-preview-title={{project.slug}}>
    {{project.title}}
  </h1>
  <div class={{elem "subtitle"}}>{{project.subtitle}}</div>
</header>
