<div
  class={{bem this.styles modifiers=(hash
    style=@project.id
  )}}
  ...attributes
>
  <div class={{bem this.styles "excerpt"}}>
    {{@project.excerpt}}
  </div>
  <div class={{bem this.styles "meta-info"}}>
    {{@project.facts}}
  </div>
</div>
